[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
psycopg2-binary = "*"
Django = "==3.1.1"
Sphinx = "*"
flake8 = "*"
autopep8 = "*"
ta-lib = {path = "./TA_Lib-0.4.19-cp38-cp38-win_amd64.whl"}
pybitflyer = "*"
mplfinance = "*"
django-pandas = "*"
matplotlib = "*"
plotly = "==4.14.3"
gunicorn = "==20.0.4"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
