{% extends "chart/layout.html" %}

{% block landing-page-title %}
bitcoin
{% endblock %}


{% block contents %}
<div class="container">
    <form action="{% url 'index'%}" method="post" name="params" id="paramsform">
        {% csrf_token %}
        <div class="row">

            <div class="col-1">

                {{Sma.as_p}}

            </div>
            <div class="col-1">
                {{DEma.as_p}}
            </div>
            <div class="col-1">
                {{Ema.as_p}}
            </div>
            <div class="col-1">
                {{Bb.as_p}}
            </div>
            <div class="col-1">
                {{Rsi.as_p}}
            </div>
            <div class="col-2">
                {{Macd.as_p}}
            </div>
            <div class="col-2">
                {{Ichimoku.as_p}}
            </div>


            <div class="col-1">
                <button type="submit" formaction="{% url 'index_d' 's' %}" form="paramsform"
                    class="btn btn-primary">1s</button>

                <button type="submit" formaction="{% url 'index_d' 'm' %}" form="paramsform"
                    class="btn btn-primary">1m</button>

                <button type="submit" formaction="{% url 'index_d' 'h' %}" form="paramsform" class="btn btn-primary"
                    selected>1h</button>
                <button type="submit" formaction="{% url 'index_d' 'd' %}" form="paramsform" class="btn btn-primary"
                    selected>1d</button>
            </div>

    </form>

</div>








{% autoescape off %}
{{ graph }}　
<!-- HTMLコードの文字列が格納されたコンテキスト -->
{% endautoescape %}

</div>


{% endblock %}